# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage directory used by tools like istanbul
coverage/

# Other files to ignore
package-lock.json
